@model Entities.User

@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit user</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Id)

		<div class="form-group">
			@Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<label for="RoleSelect" class="control-label col-md-2">Role</label>
			<div class="col-md-10">
				<select name="RoleId" class="form-control " id="RoleSelect"></select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to Users", "Index")
</div>

@section scripts{
	<script>
		$(document).ready(function () {
			const xhr = new XMLHttpRequest();
			xhr.open('get', "/roles", true);
			xhr.onload = () => {
				const data = JSON.parse(xhr.responseText);
				SetOptions(data);
				SetSelectedRole('@(Model.Role.Id)');
			};
			xhr.send();
		});

		function SetOptions(data) {
			let result = data.map(Role => ('<option value = "' + Role.Id + '">' + Role.Name + "</option>"));
			$('#RoleSelect').append(result);
		}
		function SetSelectedRole(roleId) {
			$('option').each(function () {
				if (this.getAttribute('value') == roleId) {
					this.setAttribute("selected", "selected");
				}
			});
		}
	</script>
}
