<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title – Reminder</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header text-warning">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="@Url.Action("Index", "Home")" class="navbar-brand">
					<img alt="Reminder logo" src="@Url.Content("~/Content/pictures/LogoTextWithoutBack.svg")">
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
					<li>@Html.ActionLink("Contacts", "Contact", "Home")</li>
					@if (User.Identity.IsAuthenticated)
					{
						<li>@Html.ActionLink("Reminders", "List", "Reminder", new { login = User.Identity.Name }, null)</li>
					}
					@if (User.IsInRole("Moderator")|| User.IsInRole("Admin"))
					{
						<li>
							@Html.ActionLink("Users data", "Index", "User")
						</li>
					}
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<div class="row">
				<div class="col-md-6">
					<p>&copy; @DateTime.Now.Year – Reminder</p>
				</div>
				<div class="col-md-6">
					<h4>Advertising :</h4>
					@Html.Action("Index", "Advertising")
				</div>

			</div>
			
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
